body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFE7BF;
}

h1 {
    font-size: 250%;
    font-weight: 700;
    color: #A10035;
}

.header {
    text-align: center;
    background-color: #fdadbd;
    padding: 1% 0;
}

.sds-card {
    background-color: #FFE7BF;
    text-align: center;
    padding: 0.5rem;
    width: 30rem;
    margin: 1% auto;
}

.sds-img {
    width: 65%;
    align-self: center;
}

.sds-list {
    text-align: start;
}

a {
    text-decoration: none;
    color: #A10035;
}

.card {
    border-color: #FFE7BF;
    background-color: #FFE7BF;
}

.card:hover {
    transform: scale(103%);
}

.sds-img:hover {
    transform: rotateZ(10deg);
}

.navbar {
    background-color: #fdadbd;
}

.footer {
    text-align: center;
    background-color: #fdadbd;
    padding: 1% 0;
}

h6 {
    color: #A10035;
    font-size: 0.75rem;
    margin: 0;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

 
  @media (max-width: 400px) {
    .navbar-brand {
        font-size: 150%;
        font-weight: 700;
        color: #A10035;
        margin-right: 10%;
  }
}